

  
    
  

<form [formGroup]="boardForm" (ngSubmit)="onSubmit()">
  
  <div>    
    <div style="text-align: center; margin-top: 5em; margin-bottom: 2em;">
      <h1>Teamboard Demo</h1>
    <button mat-raised-button color="primary" type="submit" (click)="openSnackBar('Board Updated','close')">Update Board</button>  
    </div>
    <!-- drop list group will link all div inside with cdkDropList -->
    <div style="display:flex; margin: auto; text-align: center; justify-content: center; " cdkDropListGroup >
    <div class="example-container" style="margin-right: 1em;">
      <h2>To do</h2>
      <div
        cdkDropList
        id="todo"
        [cdkDropListData]="todo['controls']"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo['controls']; index as index" 
        cdkDrag
        (click)="handleClick($event,item,index,'todo')"
        (cdkDragStarted)="handleDragStart($event)"
        >
          <button mat-button color="warn" style="float : right" (click)="deleteControl('todo',index)"><fa-icon [icon]="faTimesCircle"></fa-icon></button><br><br>
          <div [formGroup]="item" style="text-align: center;">
            <mat-form-field class="example-form-field" appearance="outline">
              <input matInput formControlName="jobDetails">
            </mat-form-field>
          </div>
        </div>
        <div class="top-box"><button mat-stroked-button color="primary" type="button" (click)="addJob('todo')">+ Add Job</button></div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Doing</h2>
      <div
        cdkDropList
        id="doing"
        [cdkDropListData]="doing['controls']"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of doing['controls']; index as index" 
        cdkDrag
        (click)="handleClick($event,item,index,'doing')"
        (cdkDragStarted)="handleDragStart($event)">
          <button mat-button color="warn" style="float : right" (click)="deleteControl('doing',index)"><fa-icon [icon]="faTimesCircle"></fa-icon></button><br><br>
          <div [formGroup]="item" style="text-align: center;">
            <mat-form-field class="example-form-field" appearance="outline">
              <input matInput formControlName="jobDetails">
            </mat-form-field>
          </div>
        </div>
        <div class="top-box"><button  mat-stroked-button color="primary" type="button" (click)="addJob('doing')">+ Add Job</button></div>
      </div>
    </div>

    <div class="example-container" style="margin-left:1em">
        <h2>Done</h2>
        <div
          cdkDropList
          id="done"
          [cdkDropListData]="done['controls']"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done['controls']; index as index" 
          cdkDrag
          (click)="handleClick($event,item,index,'done')"
          (cdkDragStarted)="handleDragStart($event)">
            <button mat-button color="warn" style="float : right" (click)="deleteControl('done',index)"><fa-icon [icon]="faTimesCircle"></fa-icon></button><br><br>
            <div [formGroup]="item" style="text-align: center;">
              <mat-form-field class="example-form-field" appearance="outline">
                <input matInput formControlName="jobDetails">
              </mat-form-field>
            </div>
          </div>
          <div class="top-box"><button  mat-stroked-button color="primary" type="button" (click)="addJob('done')">+ Add Job</button></div>
        </div>
      </div>
  </div>
</div>
</form>

<div style="margin : auto; text-align: center;margin-top:2em;">

  {{this.boardString}}
</div>

